/* Structural */

#banner
{
    display: grid;
    grid-column: auto / span 10;
    grid-row: auto / span 1;
    margin: 0;
}

#items
{
    display: grid;
    grid-column: auto / span 2;
    grid-row: auto / span 10;
    margin: 0;
}

#canvas
{
    display: grid;
    grid-column: auto / span 8;
    grid-row: auto / span 8;
    margin: 0;
}

#container
{
    display: grid;
    grid-template-columns: repeat(10, [col] 10%);
    grid-template-rows: repeat(10, [row] 10%);
    margin: 0;
}

#logo
{
    align-self: center;
    justify-self: left;
    color: #FFF;
    margin: 0;
    padding-left: 2em;
}

#options
{
    display: grid;
    grid-column: auto / span 8;
    grid-row: auto / span 1;
    margin: 0;
}

.option-list
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin: 0;
    padding: 0;
}

.option-list-item
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-self: center;
    justify-self: left;
    padding-left: 4em;

    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.box-container
{
    display: grid;
    justify-self: left;
    align-self: center;
    grid-column: col 0;
    grid-row: auto;
    padding-left: 1em;
    margin: 0;
    padding-top: 0;
}

.box
{
    display: grid;
    height: 12px;
    width: 12px;
    border-width: 1px 1px 1px 1px;
    border-color: #658481;
    padding: 0;
    background-color: #000;
}

.hide-box
{
    opacity: 0;
    height: 0;
    width: 0;
}

.box:hover
{
    background-color: #658481;
}
/*ugh this needs to be when the checkbox is checked, change this later*/
.box:active
{
    background-color: #FFF;
}

/* Visual */

.black
{
    background-color: #000;
}

.red
{
    background-color: #F00;
}

.blue
{
    background-color: #00F;
}

.green
{
    background-color: #0F0;
}

.purple
{
    background-color: #F0F;
}

p
{
    color: #FFF;
}
