/* Structural */

#options
{
    display: grid;
    grid-column: col 1 / span 6;
    grid-row: row 1 / span 2;
}

#items
{
    display: grid;
    grid-column: col 1 / span 4;
    grid-row: row 1 / span 2;
}

#canvas
{
    display: grid;
    grid-column: col 1 / span 10;
    grid-row: auto / span 8;
}

#container
{
    display: grid;
    grid-template-columns: repeat(10, [col] 10%);
    grid-template-rows: repeat(10, [row] 10%);
}

/* Visual */

.black
{
    background-color: #000;
    color: #FFF;
}

.red
{
    background-color: #F00;
    color: #FFF;
}

.blue
{
    background-color: #0F0;
    color: #FFF;
}

.green
{
    background-color: #00F;
    color: #FFF;
}
